*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
   align-items: center;
   gap: 10px;
}
form{
    display: flex;
    flex-direction: column;
   align-items: center;
   gap: 10px;
}
input,select{
    width: 200px;
}
.toster-container{
    display: none;;
    gap :10px;
  
}
.left-top{
    position: fixed;
    left: 10px;
    top: 10px;
}
.left-bottom{
    
    position: fixed;
    left: 10px;
    bottom: 20px;
}
.right-top{
    position: fixed;
    right: 10px;
}
.right-bottom{
    position: fixed;
    right: 10px;
    bottom: 10px;
}
#crose{
    color: red;
    cursor: pointer;
}