body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.carousel-container {
    position: relative;
    width: 300px;
    margin: auto;
    overflow: hidden;
}

.carousel {
    display: flex;
  
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 8px;
}

.btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    padding: 10px;
    z-index: 10;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.controls {
    margin-top: 20px;
}

.dots {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.dot {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #ddd;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.dot.active {
    background-color: blue;
}